body
{
    background-color: rgb(104, 241, 104);
}

#myScore
{
    font-size: 30px;
    margin-left: 50px;
}

#myTimer
{
    font-size: 30px;
    float: right;
    margin-right: 150px;
}

#sketchName2
{
    color: cornflowerblue;
}